<footer class="footer py-2 mt-auto fixed-bottom">
    <div class="container-fluid text-center">
        <span class="text-muted">&copyVirtual Wallet 2021 - <b><a href="https://www.linkedin.com/in/facundo-robles/"target="_blank">Facundo Robles</a></b></span>
    </div>
</footer>