
<nav class="navbar sticky-top navbar-expand-lg navbar-light ">
  <div class="container ">
    <div>
      <a class="navbar-brand" href="/">
        <img src="/imgs/virtualWalletLogoSmall.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Virtual Wallet
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      
      <div class="navbar-nav" style="margin-left: auto;">
        <% if (!currentUser) { %>
          <a href="/" class="nav-link">Login</a>
          <a href="/" class="nav-link">Register</a>
        <% } else { %>
        <a class="nav-link" href="/mywallet">My Wallet</a>
        <a class="nav-link" href="/mywallet/new">New Operation</a>
        <a href="/logout" class="nav-link">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>