<% layout('layouts/boilerplate') %>
<form action="POST">
    <div class="container">
            <h1>My Wallet</h1>

            <input type="text">
            <button>Add</button>
        </div>
    </form>
