
<% layout('layouts/boilerplate') %>
<div style="height: 100vh;"class="container-fluid mt-5">
    <% if (error && error.length) { %>
    <div class="row">
        <div class="col-4 offset-4 mt-5">
            <div class="alert alert-danger" role="alert">
                <h2 class="alert-heading text-center pb-4"><%= error %> </h2>
                <div class="d-grid"><a href="/"class="text-decoration-none text-white btn btn-success ">Go back</a></div> 
            </div>
        </div>
    </div>
    <% } else {%> 
    <div class="row">
        <div class="col-4 offset-4 mt-5">
            <div class="alert alert-danger" role="alert">
                <h2 class="alert-heading text-center pb-4"><%= err.message %> </h2>
                <div class="d-grid"><a href="/"class="text-decoration-none text-white btn btn-success ">Go back</a></div> 
            </div>
        </div>
    </div>
    <% } %> 
</div>