<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/sharedStyles.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="shortcut icon" href="/imgs/virtualWalletLogo.ico" type="image/x-icon">
    <title>Virtual Wallet</title>
</head>
<body>
    <main>
        <section id="homeSection">
            <div class="container" id="homeContainerDiv">
                <div class="row">
                    <div class="col-12 col-md-6 text-center text-md-start"  id="textDiv">
                        <h1>Welcome to your Virtual Wallet</h1>
                        <h2 class="mb-4 mb-md-2">Start operating now</h2>
                        <% if (!currentUser) { %>
                            <a href="/" id="register" class="text-decoration-none text-white btn btn-success mx-2 mx-md-0">Register</a>
                            <a href="/" id="login" class="text-decoration-none text-white btn btn-secondary mx-2 mx-md-0">Login</a>
                            <% } else {%>
                                <a href="/mywallet" id="myWallet" class="text-decoration-none text-white btn btn-info">My Wallet</a>
                        <% } %>
                    </div>
                    <div class="col-12 col-md-6 pt-5 pt-md-0">
        
                        <div id="logoImg">
                            <img src="/imgs/virtualWalletLogo.png" alt="virtual wallet logo" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="container p-md-4 hidden form" id="loginForm">
            <article class="row">
                <div class="col-12 col-md-9 col-lg-4 offset-0 offset-md-2 offset-lg-4 mt-3 mb-5 mb-md-0">
                    <div class="card bg-dark text-light px-3">
                        <div class="card-header text-center">
                            <h2>Login</h2>
                            <button class="close-modal">&times;</button>
                        </div>
                        <div class="card-body">
                            <form action="/login" method="POST" enctype="application/x-www-form-urlencoded" novalidate
                            class="validated-form">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="usernameLogin" name="username"
                                placeholder="Username" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter a Username.</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordLogin" name="password"
                                placeholder="Password" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter a Password.</div>
                            </div>
                        </div>
                        <div class="p-3 d-grid">
                            <button type="submit" class="btn btn-secondary ">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</section>
<section class="container p-4 hidden form" id="registerForm">
    <article class="row">
        <div class="col-12 col-md-9 col-lg-4 offset-0 offset-md-2 offset-lg-4 mt-3 mb-5 mb-md-0">
            <div class="card bg-dark text-light px-3">
                <div class="card-header text-center">
                    <h2>Sign Up</h2>
                    <button class="close-modal">&times;</button>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST" enctype="application/x-www-form-urlencoded" novalidate
                    class="validated-form">
                    <div class="mb-3">
                        <label for="firstname" class="form-label">Firstname</label>
                        <input type="text" class="form-control" id="firstname" name="firstname"
                        placeholder="Firstname" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter your Firstname.</div>
                    </div>
                    <div class="mb-3">
                        <label for="Lastname" class="form-label">Lastname</label>
                        <input type="text" class="form-control" id="Lastname" name="lastname"
                        placeholder="Lastname" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter your Lastname.</div>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Username" required>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">Please enter a Username.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" required>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">Please enter a Password.</div>
                                </div>
                            </div>
                            <div class="p-3 d-grid">
                                <button type="submit" class="btn btn-success ">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <div class="overlay hidden"></div>
</main>
<script src="/javascripts/validateForms.js"></script>
<script src="/javascripts/homeEvents.js"></script>

</body>
</html>