/* ONLY FOR LANDING PAGE CSS */

main{
    background-image: url("https://wallpapercave.com/wp/wp2486418.jpg");
}
#logoImg{
    
    opacity: 0.9;
    width: 100%;
    display: flex;
   
}

#homeContainerDiv{
    
    color: white;
}
#homeSection{
    display: flex;
    align-items: center;
    
    height: 100vh;
    
}
#textDiv{
    align-self: center;
}